<div class="w3-third">

  <div class="w3-white w3-text-grey w3-card-4">

    <div class="w3-container">

      <p class="w3-large"><b><i class="fa fa-cogs fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
      <p>C and C++</p>
      <div class="w3-dark-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
      </div>
      <p>Angular</p>
      <div class="w3-dark-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">
          <div class="w3-center w3-text-white">60%</div>
        </div>
      </div>
      <p>Reactjs</p>
      <div class="w3-dark-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">
          <div class="w3-center w3-text-white">40%</div>
        </div>
      </div>
      <p>python</p>
      <div class="w3-dark-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:55%">55%</div>
      </div>
      <p>Django</p>
      <div class="w3-dark-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:55%">55%</div>
      </div>
      <p>Rest Api</p>
      <div class="w3-dark-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
      </div>
      <p>My Sql</p>
      <div class="w3-dark-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
      </div>
      <br>

      <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
      <p>English</p>
      <div class="w3-dark-grey w3-round-xlarge">
        <div class="w3-round-xlarge w3-teal" style="height:24px;width:50%"></div>
      </div>
      <p>Hindi</p>
      <div class="w3-dark-grey w3-round-xlarge">
        <div class="w3-round-xlarge w3-teal" style="height:24px;width:90%"></div>
      </div>

      <br>
    </div>
  </div><br>

</div>

